openapi: 3.1.0
info:
  title: TrackLines API
  version: 1.0.0
  description: |
    Complete HTTP API for projects, boards, tickets, roadmaps, billing, and
    integrations. The API also supports the BugFixes workflow: create in a
    board column or project backlog, append conversation updates, and close a
    board ticket by moving it to the board's last (Done) column.

    Most private endpoints accept a Clerk session token or a TrackLines (`tl_…`)
    or BugFixes (`bf_…`) agent API key as a Bearer token. Projects, boards and
    roadmaps belong to a Clerk organization: a session sees its active
    organization's data, and a request without an active organization gets
    403. API keys act inside the organization they were created in, as their
    creator, and attribute writes to the key's name. API-key management
    requires a Clerk session. Stripe webhooks use Stripe-Signature.
    IDs are UUIDs. Error responses are plain-text messages.
servers:
  - url: https://api.tracklin.es/api
    description: Production backend API
  - url: http://localhost:8080/api
    description: Local API
security:
  - bearerAuth: []
tags:
  - name: Projects
    description: Create, list, inspect, update, and delete projects.
  - name: Organizations
    description: Inspect membership in the active Clerk organization.
  - name: Teams
    description: Manage role-free teams, team membership, and project links inside the active organization.
  - name: Tickets
    description: Create, inspect, move, and close tickets.
  - name: Comments
    description: Append updates to a ticket conversation.
  - name: Boards
    description: Team boards and columns.
  - name: Columns
    description: Board workflow columns.
  - name: Attachments
    description: UploadThing attachment metadata.
  - name: Sprints
    description: Board sprints.
  - name: Roadmaps
    description: Project roadmaps and linked ticket progress.
  - name: API keys
    description: Manage AI agent and server/service API keys with a Clerk session.
  - name: Billing
    description: Stripe subscription and webhook operations.
  - name: System
    description: Health check.
paths:
  /organizations/members:
    get:
      tags: [Organizations]
      operationId: listOrganizationMembers
      summary: List active organization members
      description: Returns role-free member details for the caller's active organization. Results are paginated.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        '200':
          description: A page of active organization members.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrganizationMemberPage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: No active organization in the caller's session or API key. }
        '502': { description: The identity provider could not return organization membership. }
  /board-templates:
    get:
      tags: [Boards]
      operationId: listBoardTemplates
      summary: Board templates (built-ins, then the organization's own)
      responses:
        '200': { description: Templates, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/BoardTemplate' } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Boards]
      operationId: createBoardTemplate
      summary: Save an organization board template
      description: Org admins only, signed in with a Clerk session. Send a full template, or {name, from_board_id} to copy an existing board's columns, WIP limits, style and estimate scale.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 80 }
                from_board_id: { type: string, format: uuid }
                style: { type: string, enum: [sprints, kanban] }
                estimate_scale: { $ref: '#/components/schemas/EstimateScale' }
                columns: { $ref: '#/components/schemas/BoardTemplate/properties/columns' }
      responses:
        '201': { description: Template saved., content: { application/json: { schema: { $ref: '#/components/schemas/BoardTemplate' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Requires a signed-in organization admin. }
        '404': { $ref: '#/components/responses/NotFound' }
  /board-templates/{templateId}:
    parameters:
      - name: templateId
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [Boards]
      operationId: deleteBoardTemplate
      summary: Delete an organization template (built-ins can't be deleted)
      responses:
        '204': { description: Deleted. }
        '400': { description: Built-in templates can't be deleted. }
        '403': { description: Requires a signed-in organization admin. }
        '404': { $ref: '#/components/responses/NotFound' }
  /mcp:
    post:
      tags: [MCP]
      operationId: mcp
      summary: Model Context Protocol endpoint for bots
      description: >-
        MCP over Streamable HTTP (stateless; responses are application/json). Send JSON-RPC MCP messages
        (initialize, tools/list, tools/call). Authenticate like the REST API (tl_ API key or Clerk session).
        Each tool calls the matching REST route with the caller's credentials, so results, permissions and
        errors are the same as REST; a failed call is a tool result with isError and the REST status in its text.
        GET and DELETE return 405 (no sessions or server-initiated streams).
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, description: A JSON-RPC 2.0 MCP message. }
      responses:
        '200': { description: JSON-RPC response., content: { application/json: { schema: { type: object } } } }
        '202': { description: Notification accepted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /organizations/me:
    get:
      tags: [Organizations]
      operationId: getMyOrganizationRoles
      summary: The caller's roles in their active organization
      responses:
        '200':
          description: Whether the caller is an org admin, and the teams they lead.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id: { type: string }
                  org_id: { type: string }
                  admin: { type: boolean }
                  leads: { type: array, items: { type: string, format: uuid } }
        '403': { description: No active organization. }
        '502': { description: Clerk could not be reached to resolve the first admin. }
  /organizations/admins:
    get:
      tags: [Organizations]
      operationId: listOrganizationAdmins
      summary: List the organization's TrackLines admins
      description: >-
        Organizations and their members live in Clerk; TrackLines only records which members are admins.
        The first time an org's admins are needed, one is chosen from Clerk and stored: the user who created
        the organization if they are still a member, otherwise the longest-standing member with the Clerk
        org:admin role, otherwise the longest-standing member. granted_by records which rule applied
        (clerk:creator, clerk:admin-role, clerk:earliest-member) or the admin who granted it. If Clerk can't be
        reached nothing is stored and the next request tries again (502); an organization with no members gets
        no admin (409).
      responses:
        '200': { description: Admins oldest first, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/OrgAdmin' } } } } }
        '403': { description: No active organization. }
        '409': { description: The organization has no members to make admin. }
        '502': { description: Clerk could not be reached. }
  /organizations/admins/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [Organizations]
      operationId: grantOrganizationAdmin
      summary: Make an organization member an admin
      description: Org admins only, signed in with a Clerk session (API keys are refused). The user must be a Clerk member of the organization.
      responses:
        '204': { description: Granted (or already an admin). }
        '403': { description: Not a signed-in org admin. }
        '422': { description: The user is not a member of this organization. }
    delete:
      tags: [Organizations]
      operationId: revokeOrganizationAdmin
      summary: Remove an admin
      description: Org admins only, signed in with a Clerk session. The last admin can't be removed.
      responses:
        '204': { description: Removed. }
        '403': { description: Not a signed-in org admin. }
        '409': { description: That is the organization's last admin. }
  /teams/{teamId}/leaders/{userId}:
    parameters:
      - name: teamId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - name: userId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [Teams]
      operationId: addTeamLeader
      summary: Make a team member a leader
      description: Org admins only, signed in with a Clerk session. A team can have several leaders; leaders must be on the team, and removing them from the team ends their leadership.
      responses:
        '204': { description: They now lead the team. }
        '403': { description: Not a signed-in org admin. }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { description: The user is not on the team. }
    delete:
      tags: [Teams]
      operationId: removeTeamLeader
      summary: Stop a member leading the team (they stay on it)
      responses:
        '204': { description: No longer a leader. }
        '403': { description: Not a signed-in org admin. }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { description: The user is not on the team. }
  /boards/{boardId}/team:
    parameters:
      - $ref: '#/components/parameters/BoardId'
    put:
      tags: [Teams]
      operationId: setBoardTeam
      summary: Set the team that runs a board
      description: >-
        Org admins only, signed in with a Clerk session. The team's leaders' authority is scoped to the boards it
        runs. The team must belong to the organization and already be linked to the board's project; removing
        the team from the project unlinks it from that project's boards. null unlinks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [team_id]
              properties:
                team_id: { type: [string, 'null'], format: uuid }
      responses:
        '204': { description: Board updated. }
        '403': { description: Not a signed-in org admin. }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { description: The team isn't linked to the board's project. }
  /teams:
    get:
      tags: [Teams]
      operationId: listTeams
      summary: List teams in the active organization
      responses:
        '200': { description: Teams, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Team' } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: No active organization. }
    post:
      tags: [Teams]
      operationId: createTeam
      summary: Create a team
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TeamInput' }
      responses:
        '201': { description: Team created, content: { application/json: { schema: { $ref: '#/components/schemas/Team' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Requires a signed-in organization admin. }
  /teams/{teamId}:
    parameters:
      - name: teamId
        in: path
        required: true
        schema: { type: string, format: uuid }
    patch:
      tags: [Teams]
      operationId: updateTeam
      summary: Update a team
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TeamInput' }
      responses:
        '204': { description: Team updated. }
        '403': { description: Requires a signed-in organization admin. }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Teams]
      operationId: deleteTeam
      summary: Delete a team
      responses:
        '204': { description: Team and its memberships deleted. }
        '403': { description: Requires a signed-in organization admin. }
        '404': { $ref: '#/components/responses/NotFound' }
  /teams/{teamId}/members:
    get:
      tags: [Teams]
      operationId: listTeamMembers
      summary: List team members and which of them lead the team
      parameters:
        - name: teamId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Team members, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/TeamMember' } } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /teams/{teamId}/members/{userId}:
    parameters:
      - name: teamId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - name: userId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [Teams]
      operationId: addTeamMember
      summary: Add an active organization member to a team
      responses:
        '204': { description: Membership recorded. }
        '403': { description: Requires a signed-in organization admin. }
        '422': { description: User is not an active member of the organization. }
        '502': { description: Could not verify membership with the identity provider. }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Teams]
      operationId: removeTeamMember
      summary: Remove a member from a team
      responses:
        '204': { description: Membership removed. }
        '403': { description: Requires a signed-in organization admin. }
        '404': { $ref: '#/components/responses/NotFound' }
  /projects/{projectId}/teams:
    get:
      tags: [Teams]
      operationId: listProjectTeams
      summary: List teams linked to a project
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Project teams, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Team' } } } } }
  /projects/{projectId}/teams/{teamId}:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - name: teamId
        in: path
        required: true
        schema: { type: string, format: uuid }
    put:
      tags: [Teams]
      operationId: addProjectTeam
      summary: Link a same-organization team to a project
      responses:
        '204': { description: Team linked. }
        '403': { description: Requires a signed-in organization admin. }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Teams]
      operationId: removeProjectTeam
      summary: Unlink a team from a project
      responses:
        '204': { description: Team unlinked. }
        '403': { description: Requires a signed-in organization admin. }
  /projects:
    get:
      tags: [Projects]
      operationId: listProjects
      summary: List projects accessible to this agent
      description: Use a project's ID when creating a ticket directly in its backlog.
      responses:
        '200':
          description: Projects owned by the API key's owner.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Projects]
      operationId: createProject
      summary: Create a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectInput'
      responses:
        '201':
          description: Project created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '402':
          description: Free plan project limit reached.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /projects/{projectId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Projects]
      operationId: getProject
      summary: Get a project with its boards and roadmaps
      responses:
        '200':
          description: Project details.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Projects]
      operationId: updateProject
      summary: Update a project
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProjectInput' }
      responses:
        '204': { description: Project updated. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Projects]
      operationId: deleteProject
      summary: Delete a project and its boards, tickets, and roadmaps
      responses:
        '204': { description: Project deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /projects/{projectId}/boards:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [Boards]
      operationId: createBoard
      summary: Create a team board, optionally from a template
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BoardInput' }
      responses:
        '201':
          description: Board created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Board' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Requires a signed-in organization admin. }
        '404': { $ref: '#/components/responses/NotFound' }

  /projects/{projectId}/backlog:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [Tickets]
      operationId: listBacklog
      summary: List a project's backlog
      parameters:
        - name: type
          in: query
          schema: { type: string, enum: [bug, feature, task] }
      responses:
        '200':
          description: Backlog tickets, ordered by position.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Ticket' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Tickets]
      operationId: createBacklogTicket
      summary: Create a ticket directly in a project's backlog
      description: Creates a ticket without requiring a board or column. The ticket is attributed to the API key's agent name and defaults to type `task` if `type` is omitted.
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBacklogTicket'
            example:
              type: bug
              title: Project creation returns an error
              description: Creating a project from the dashboard returns HTTP 403.
      responses:
        '201':
          description: Backlog ticket created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /bugfixes/tickets:
    post:
      tags: [Tickets]
      operationId: createBugfixTicket
      summary: Create a ticket as a BugFixes agent
      description: Creates a ticket in the specified board column and records the API key's agent name as `created_by`.
      security:
        - bugfixesBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBugfixTicket'
            example:
              board_id: 185abf7c-bdad-4f01-9e90-9afcfa8c1eea
              column_id: 29e570c0-2e5b-44ed-b257-4981b1d4a273
              title: Project creation returns an error
              body: Creating a project from the dashboard returns HTTP 403.
              priority: high
      responses:
        '201':
          description: Ticket created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BugfixTicket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Board or column not found.
        '500':
          $ref: '#/components/responses/InternalError'

  /boards/{boardId}:
    parameters:
      - $ref: '#/components/parameters/BoardId'
    get:
      tags: [Boards]
      operationId: getBoard
      summary: Get board columns and tickets
      description: Use the column with the greatest `position` as the Done column when closing a ticket.
      responses:
        '200':
          description: Board, with ordered columns and their current tickets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Boards]
      operationId: updateBoard
      summary: Rename a board or change its settings
      description: >-
        Provide any of name, estimate_scale and style. Changing estimate_scale clears the estimates of tickets on the
        board, except those in closed sprints (kept for velocity history). Switching to kanban ends the open sprint, if
        any: it closes with no successor, keeps its done tickets, and its unfinished tickets stay on the board outside
        any sprint. Kanban boards can't start sprints and show only Done tickets finished in the last 14 days.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                name: { type: string, minLength: 1 }
                estimate_scale: { $ref: '#/components/schemas/EstimateScale' }
                style: { type: string, enum: [sprints, kanban] }
      responses:
        '204': { description: Board updated. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Requires a signed-in organization admin or the linked team's leader. }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Boards]
      operationId: deleteBoard
      summary: Delete a board
      responses:
        '204': { description: Board deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Requires a signed-in organization admin. }
        '404': { $ref: '#/components/responses/NotFound' }

  /boards/{boardId}/columns:
    parameters:
      - $ref: '#/components/parameters/BoardId'
    post:
      tags: [Columns]
      operationId: createColumn
      summary: Add a column to a board
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NameInput' }
      responses:
        '201':
          description: Column created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Column' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Requires a signed-in organization admin or the linked team's leader. }
        '404': { $ref: '#/components/responses/NotFound' }

  /boards/{boardId}/columns/order:
    put:
      tags: [Columns]
      operationId: reorderColumns
      summary: Replace a board's column order
      parameters:
        - $ref: '#/components/parameters/BoardId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [column_ids]
              properties:
                column_ids:
                  type: array
                  items: { type: string, format: uuid }
      responses:
        '204': { description: Column order updated. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Requires a signed-in organization admin or the linked team's leader. }
        '404': { $ref: '#/components/responses/NotFound' }

  /columns/{columnId}:
    parameters:
      - name: columnId
        in: path
        required: true
        schema: { type: string, format: uuid }
    patch:
      tags: [Columns]
      operationId: updateColumn
      summary: Rename a column and/or set its work-in-progress limit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                name: { type: string, minLength: 1 }
                wip_limit: { type: integer, minimum: 0, maximum: 999, description: "Advisory; moves over the limit still go through. 0 removes it." }
      responses:
        '204': { description: Column updated. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Requires a signed-in organization admin or the linked team's leader. }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Columns]
      operationId: deleteColumn
      summary: Delete an empty column
      responses:
        '204': { description: Column deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Requires a signed-in organization admin or the linked team's leader. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Column still contains tickets. }

  /columns/{columnId}/tickets:
    post:
      tags: [Tickets]
      operationId: createBoardTicket
      summary: Create a ticket in a board column
      parameters:
        - name: columnId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TicketInput' }
      responses:
        '201':
          description: Ticket created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ticket' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }

  /tickets/{ticketId}:
    parameters:
      - $ref: '#/components/parameters/TicketId'
    get:
      tags: [Tickets]
      operationId: getTicket
      summary: Get a ticket and its board context
      description: Use `board_id` to look up the Done column before closing a ticket.
      responses:
        '200':
          description: Ticket details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Tickets]
      operationId: updateTicket
      summary: Update a ticket
      description: "`title` is required; empty `type` and `priority` retain their current values."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TicketInput' }
      responses:
        '204': { description: Ticket updated. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Tickets]
      operationId: deleteTicket
      summary: Delete a ticket
      responses:
        '204': { description: Ticket deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /tickets/{ticketId}/claim:
    post:
      tags: [Tickets]
      operationId: claimTicket
      summary: Assign an unassigned ticket to the caller
      description: AI keys and signed-in people may claim tickets. Server/service keys cannot claim work.
      parameters:
        - $ref: '#/components/parameters/TicketId'
      responses:
        '200':
          description: Claimed ticket.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ticket' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Server/service API keys cannot claim tickets. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Ticket is already assigned or blocked by another ticket. }

  /tickets/{ticketId}/release:
    post:
      tags: [Tickets]
      operationId: releaseTicket
      summary: Clear the caller's assignment from a ticket
      description: AI keys and signed-in people may release ticket assignments. Server/service keys cannot.
      parameters:
        - $ref: '#/components/parameters/TicketId'
      responses:
        '204': { description: Assignment cleared. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Server/service API keys cannot release ticket assignments. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Ticket is not assigned to the caller. }

  /tickets/{ticketId}/assignee:
    put:
      tags: [Tickets]
      operationId: assignTicket
      summary: Assign or unassign a ticket
      description: Set `assignee` to an active member of the caller's organization or an active AI key name; set it to null to unassign. Server/service keys cannot be assignees.
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assignee]
              properties:
                assignee: { type: [string, 'null'] }
      responses:
        '200':
          description: Updated ticket.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ticket' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '502': { description: Could not verify organization membership with Clerk. }

  /tickets/{ticketId}/labels:
    put:
      tags: [Tickets]
      operationId: setTicketLabels
      summary: Replace a ticket's labels
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [labels]
              properties:
                labels: { $ref: '#/components/schemas/Labels' }
      responses:
        '200':
          description: Normalised labels as stored.
          content:
            application/json:
              schema:
                type: object
                properties:
                  labels: { type: array, items: { type: string } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /projects/{projectId}/backlog/page:
    get:
      tags: [Tickets]
      operationId: pageBacklog
      summary: One page of the backlog, filtered and ordered by the server
      description: Ready tickets first, then blocked ones; then by position. `counts` are per type with the label filter applied but not the type filter, for type tabs. The unpaged list stays at /projects/{projectId}/backlog.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - { name: type, in: query, schema: { type: string, enum: [bug, feature, task] } }
        - name: label
          in: query
          description: Repeatable; a ticket matches if it has any of them (case-insensitive).
          schema: { type: array, items: { type: string } }
          style: form
          explode: true
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: per_page, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 25 } }
      responses:
        '200':
          description: The page and per-type counts.
          content:
            application/json:
              schema:
                type: object
                required: [tickets, counts, labels]
                properties:
                  labels:
                    type: array
                    description: Labels in the whole backlog (no filters applied), most used first, for a label filter.
                    items:
                      type: object
                      properties:
                        label: { type: string }
                        count: { type: integer }
                  tickets:
                    type: array
                    items: { $ref: '#/components/schemas/Ticket' }
                  counts:
                    type: object
                    properties:
                      all: { type: integer }
                      bug: { type: integer }
                      feature: { type: integer }
                      task: { type: integer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /projects/{projectId}/labels:
    get:
      tags: [Projects]
      operationId: listProjectLabels
      summary: Labels in use in a project, most used first
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Labels with ticket counts.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    label: { type: string }
                    count: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /assignees:
    get:
      tags: [Tickets]
      operationId: listAssignees
      summary: List organization members and AI keys available for assignment
      description: Only members of the active organization and its active AI keys are listed. Service/API keys are excluded.
      responses:
        '200':
          description: Assignable identities.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    label: { type: string }
                    kind: { type: string, enum: [person, ai] }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '502': { description: Could not load organization members from Clerk. }

  /tickets/{ticketId}/backlog:
    post:
      tags: [Tickets]
      operationId: sendTicketToBacklog
      summary: Move a ticket into its project's backlog
      parameters:
        - $ref: '#/components/parameters/TicketId'
      responses:
        '204': { description: Ticket moved to backlog. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /tickets/{ticketId}/blocked-by:
    put:
      tags: [Tickets]
      operationId: setTicketDependencies
      summary: Replace the tickets blocking this ticket
      description: Use an empty `ticket_ids` array to clear dependencies. Dependencies must be in the same project and cannot form a cycle.
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ticket_ids]
              properties:
                ticket_ids:
                  type: array
                  items: { type: string, format: uuid }
      responses:
        '204': { description: Dependencies replaced. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /tickets/{ticketId}/comments:
    parameters:
      - $ref: '#/components/parameters/TicketId'
    get:
      tags: [Comments]
      operationId: listTicketComments
      summary: List a ticket's conversation
      responses:
        '200':
          description: Comments in chronological order.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Comment' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Comments]
      operationId: appendTicketComment
      summary: Append an update to a ticket
      description: Adds a top-level comment to the ticket conversation. Use this for progress reports or follow-up findings; it does not replace the ticket description.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComment'
            example:
              body: |
                Fixed in the backend. The request now succeeds with the production origin.
      responses:
        '201':
          description: Comment appended.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/{ticketId}/move:
    post:
      tags: [Tickets]
      operationId: moveTicket
      summary: Move a ticket to another column
      description: To close a ticket, first get its board, then move it to the column with the greatest `position` (the board's Done column). `position` may be zero.
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveTicket'
      responses:
        '204':
          description: Ticket moved.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/{ticketId}/attachments:
    parameters:
      - $ref: '#/components/parameters/TicketId'
    get:
      tags: [Attachments]
      operationId: listTicketAttachments
      summary: List ticket attachments
      responses:
        '200':
          description: Attachment records.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Attachment' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Attachments]
      operationId: recordTicketAttachment
      summary: Record an uploaded UploadThing file on a ticket
      description: The file must already be uploaded; this endpoint stores its metadata and does not upload bytes.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AttachmentInput' }
      responses:
        '201':
          description: Attachment recorded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Attachment' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: Ticket is in its Done column. }

  /attachments/{attachmentId}:
    delete:
      tags: [Attachments]
      operationId: deleteAttachment
      summary: Delete an attachment and its stored file
      parameters:
        - name: attachmentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Attachment deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /boards/{boardId}/velocity:
    parameters:
      - $ref: '#/components/parameters/BoardId'
    get:
      tags: [Sprints]
      operationId: getBoardVelocity
      summary: Velocity per closed sprint, plus the open sprint's burn data
      description: >-
        A closed sprint's completed value is its tickets that were done when it closed (closing carries
        the rest into the next sprint). Unit is points on a board with an estimate scale (t-shirt sizes
        count XS=1, S=2, M=3, L=5, XL=8; unestimated tickets count 0), otherwise tickets.
      responses:
        '200':
          description: Velocity history and burn data.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Velocity' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /boards/{boardId}/sprints:
    parameters:
      - $ref: '#/components/parameters/BoardId'
    get:
      tags: [Sprints]
      operationId: listSprints
      summary: List a board's sprints
      responses:
        '200':
          description: Sprints, newest first.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Sprint' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Sprints]
      operationId: startSprint
      summary: Start a sprint and pull in unassigned board tickets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [length_days]
              properties:
                length_days: { type: integer, minimum: 1, maximum: 365 }
      responses:
        '201':
          description: Sprint started.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sprint' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Requires a signed-in organization admin or the linked team's leader. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { description: "Board already has an open sprint, or is a kanban board." }

  /sprints/{sprintId}:
    get:
      tags: [Sprints]
      operationId: getSprint
      summary: One sprint, read-only, with its burn data and tickets
      description: >-
        For a closed sprint, tickets are the ones it finished (closing moves the rest to the next sprint) and burn.total
        is what it held when it closed; sprints closed before scope was recorded fall back to what they finished and
        carried_over is null. burn.ends_at is the close time. For an open sprint, everything reflects now.
      parameters:
        - name: sprintId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: The sprint.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Sprint'
                  - type: object
                    properties:
                      unit: { type: string, enum: [points, tickets] }
                      burn: { $ref: '#/components/schemas/Velocity/properties/current' }
                      tickets: { type: array, items: { $ref: '#/components/schemas/Ticket' } }
                      carried_over: { type: [integer, 'null'], description: Tickets moved on to the next sprint when it closed. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /sprints/{sprintId}/close:
    post:
      tags: [Sprints]
      operationId: closeSprint
      summary: Close a sprint and start the next one
      parameters:
        - name: sprintId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Newly opened next sprint.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Sprint' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Requires a signed-in organization admin or the linked team's leader. }
        '404': { $ref: '#/components/responses/NotFound' }

  /roadmaps:
    get:
      tags: [Roadmaps]
      operationId: listRoadmaps
      summary: List the caller's roadmaps
      responses:
        '200':
          description: Roadmaps owned by the caller.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Roadmap' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /roadmaps/{roadmapId}:
    parameters:
      - name: roadmapId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Roadmaps]
      operationId: getRoadmap
      summary: Get a roadmap
      description: Public roadmaps are readable without a token; login_only roadmaps require sign-in; team roadmaps require the owner. Non-owner readers see progress counts but not linked-ticket IDs or titles.
      security:
        - {}
        - bearerAuth: []
      responses:
        '200':
          description: Roadmap and items.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Roadmap' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Roadmap is restricted to its owner. }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Roadmaps]
      operationId: updateRoadmap
      summary: Update a roadmap
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RoadmapInput' }
      responses:
        '204': { description: Roadmap updated. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Roadmaps]
      operationId: deleteRoadmap
      summary: Delete a roadmap
      responses:
        '204': { description: Roadmap deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /projects/{projectId}/roadmaps:
    post:
      tags: [Roadmaps]
      operationId: createRoadmap
      summary: Create a roadmap in a project
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RoadmapInput' }
      responses:
        '201':
          description: Roadmap created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Roadmap' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /roadmaps/{roadmapId}/items:
    put:
      tags: [Roadmaps]
      operationId: replaceRoadmapItems
      summary: Replace a roadmap's item list
      description: Existing item IDs are updated in place; IDs omitted from the submitted list are removed. Unknown or omitted IDs create items.
      parameters:
        - name: roadmapId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/RoadmapItemInput' }
      responses:
        '204': { description: Roadmap items replaced. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /roadmaps/{roadmapId}/items/{itemId}/tickets:
    put:
      tags: [Roadmaps]
      operationId: setRoadmapItemTickets
      summary: Replace tickets linked to a roadmap item
      parameters:
        - name: roadmapId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: itemId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ticket_ids]
              properties:
                ticket_ids:
                  type: array
                  items: { type: string, format: uuid }
      responses:
        '204': { description: Linked tickets replaced. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /keys:
    get:
      tags: [API keys]
      operationId: listApiKeys
      summary: List the caller's active API keys
      security:
        - clerkSession: []
      responses:
        '200':
          description: API key metadata. Secret values are never returned after creation.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ApiKey' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [API keys]
      operationId: createApiKey
      summary: Create a TrackLines API key
      description: The plaintext key is returned only once. This route requires a Clerk session.
      security:
        - clerkSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateApiKeyInput' }
      responses:
        '201':
          description: Key created; save the returned `key` securely now.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreatedApiKey' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /keys/{keyId}:
    parameters:
      - name: keyId
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      tags: [API keys]
      operationId: revokeApiKey
      summary: Revoke an API key
      security:
        - clerkSession: []
      responses:
        '204': { description: API key revoked. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /subscription:
    get:
      tags: [Billing]
      operationId: getSubscription
      summary: Get the caller's plan and project limit
      responses:
        '200':
          description: Subscription status.
          content:
            application/json:
              schema:
                type: object
                required: [paid, project_limit]
                properties:
                  paid: { type: boolean }
                  project_limit: { type: integer, description: '-1 means unlimited.' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { description: Billing status unavailable. }

  /subscription/checkout:
    post:
      tags: [Billing]
      operationId: createCheckoutSession
      summary: Create a Stripe checkout session
      responses:
        '200':
          description: Stripe Checkout URL.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/URLResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: Caller is already subscribed. }
        '503': { description: Billing is not configured or unavailable. }
        '502': { description: Stripe is unavailable. }

  /subscription/portal:
    post:
      tags: [Billing]
      operationId: createBillingPortalSession
      summary: Create a Stripe billing portal session
      responses:
        '200':
          description: Stripe Billing Portal URL.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/URLResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: Caller has no Stripe customer yet. }
        '503': { description: Billing is not configured or unavailable. }
        '502': { description: Stripe is unavailable. }

  /webhooks/stripe:
    post:
      tags: [Billing]
      operationId: stripeWebhook
      summary: Receive a Stripe webhook event
      description: Authenticates the raw payload with Stripe-Signature. The handler is mounted at this path both under /api and at the API root.
      servers:
        - url: https://tracklin.es/api
        - url: http://localhost:8080/api
        - url: http://localhost:8080
      security: []
      parameters:
        - name: Stripe-Signature
          in: header
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200': { description: Event acknowledged. }
        '400': { description: Invalid body or signature. }
        '502': { description: Stripe is unavailable while processing the event. }
        '503': { description: Billing is unavailable. }

  /health:
    get:
      tags: [System]
      operationId: healthCheck
      summary: Check API and backing services health
      servers:
        - url: http://localhost:8080
          description: Use the deployed backend origin directly in production; the frontend API proxy does not expose /health.
      security: []
      responses:
        '200':
          description: API, PostgreSQL, and Valkey are healthy.
          content:
            text/plain:
              schema: { type: string, example: ok }
        '503': { description: Database or Valkey is unavailable. }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or TrackLines API key
      description: Clerk session token, TrackLines `tl_` key, or BugFixes `bf_` key, depending on the route.
    bugfixesBearer:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: TrackLines API key created for a BugFixes agent; key starts with `bf_`.
    clerkSession:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: A signed-in Clerk session token. API keys are rejected on API-key management routes.
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    BoardId:
      name: boardId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    TicketId:
      name: ticketId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    OrganizationMember:
      type: object
      required: [user_id, identifier]
      properties:
        user_id: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        image_url: { type: string, format: uri }
        identifier: { type: string, description: "Public identifier provided by Clerk, usually an email address." }
    OrganizationMemberPage:
      type: object
      required: [members, total_count, limit, offset]
      properties:
        members:
          type: array
          items: { $ref: '#/components/schemas/OrganizationMember' }
        total_count: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
    OrgAdmin:
      type: object
      properties:
        user_id: { type: string }
        granted_by: { type: string, description: "clerk:creator, clerk:admin-role, clerk:earliest-member, or the user id of the admin who granted it" }
        created_at: { type: string, format: date-time }
    TeamMember:
      type: object
      properties:
        user_id: { type: string }
        leader: { type: boolean }
    Team:
      type: object
      required: [id, org_id, name, description, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        org_id: { type: string }
        name: { type: string }
        description: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    TeamInput:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1 }
        description: { type: string }
    ProjectInput:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1 }
        description: { type: string }
    BoardInput:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1 }
        description: { type: string }
        template_id: { type: string, description: "A template from GET /board-templates (built-in ids start with builtin:). Default builtin:simple (To do, In progress, Done). Unknown id: 400." }
    BoardTemplate:
      type: object
      required: [id, name, builtin, style, estimate_scale, columns]
      properties:
        id: { type: string, description: "builtin:simple, builtin:scrum, builtin:kanban, or an org template's UUID" }
        name: { type: string }
        builtin: { type: boolean }
        style: { type: string, enum: [sprints, kanban] }
        estimate_scale: { $ref: '#/components/schemas/EstimateScale' }
        columns:
          type: array
          minItems: 1
          maxItems: 20
          description: In board order; the last column is Done.
          items:
            type: object
            required: [name]
            properties:
              name: { type: string, minLength: 1, maxLength: 80 }
              wip_limit: { type: [integer, 'null'], minimum: 1, maximum: 999 }
    NameInput:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1 }
    Labels:
      type: array
      maxItems: 20
      items: { type: string, maxLength: 50 }
      description: Free-form labels. Trimmed; blanks and case-insensitive duplicates dropped (first spelling wins). Omit to leave unchanged; [] clears.
    EstimateScale:
      type: string
      enum: [none, fibonacci, tshirt, powers, linear]
      description: 'How a board estimates tickets. fibonacci 1,2,3,5,8,13,21; tshirt XS,S,M,L,XL; powers 1,2,4,8,16; linear 1-5; none turns estimates off.'
    TicketInput:
      type: object
      required: [title]
      properties:
        type:
          type: string
          enum: [bug, feature, task]
          default: task
        title: { type: string, minLength: 1 }
        description: { type: string }
        priority:
          type: string
          enum: [low, medium, high, urgent]
          default: medium
        labels: { $ref: '#/components/schemas/Labels' }
        estimate:
          type: string
          description: A value on the board's estimate_scale (400 otherwise). Omitted = unchanged; empty string clears. Not allowed on backlog tickets.
    CreateBugfixTicket:
      type: object
      required: [board_id, column_id, title]
      properties:
        board_id:
          type: string
          format: uuid
        column_id:
          type: string
          format: uuid
        title:
          type: string
          minLength: 1
        body:
          type: string
          description: Initial ticket description.
        priority:
          type: string
          description: Defaults to medium.
          enum: [low, medium, high, urgent]
        labels: { $ref: '#/components/schemas/Labels' }
    CreateBacklogTicket:
      type: object
      required: [title]
      properties:
        type:
          type: string
          enum: [bug, feature, task]
          default: task
        title:
          type: string
          minLength: 1
        description:
          type: string
        priority:
          type: string
          enum: [low, medium, high, urgent]
          default: medium
        labels: { $ref: '#/components/schemas/Labels' }
    Project:
      type: object
      required: [id, name, description, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        boards:
          type: array
          items: { $ref: '#/components/schemas/BoardSummary' }
        roadmaps:
          type: array
          items: { $ref: '#/components/schemas/Roadmap' }
        stats:
          description: Only on the project list. Open and done count board tickets (done = in the board's last column); urgent counts open urgent tickets on boards or in the backlog.
          type: object
          properties:
            boards: { type: integer }
            roadmaps: { type: integer }
            open: { type: integer }
            done: { type: integer }
            backlog: { type: integer }
            urgent: { type: integer }
            active: { type: string, format: date-time, description: "Latest ticket change, or the project's own update" }
    BoardSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        owner_clerk_id: { type: string }
        name: { type: string }
        description: { type: string }
        estimate_scale: { $ref: '#/components/schemas/EstimateScale' }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        team_id: { type: [string, 'null'], format: uuid }
        stats:
          description: Only on a project's boards. Counts the tickets the board shows (the open sprint's, or all if it has never run one). in_progress = neither the first column nor done; urgent = open urgent tickets.
          type: object
          properties:
            open: { type: integer }
            in_progress: { type: integer }
            done: { type: integer }
            urgent: { type: integer }
            active: { type: string, format: date-time, description: "Latest ticket change, or the board's own update" }
            sprint_number: { type: [integer, 'null'] }
            sprint_ends_at: { type: [string, 'null'], format: date-time }
    Ticket:
      type: object
      description: Agent origin is recorded in created_by and rendered in the ticket UI; assignment is shown in assigned_to.
      required: [id, project_id, column_id, title, description, created_by, type, priority, position, blocked]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        column_id: { type: [string, 'null'], format: uuid, description: Null while in the backlog. }
        sprint_id: { type: [string, 'null'], format: uuid }
        type: { type: string, enum: [bug, feature, task] }
        title: { type: string }
        description: { type: string }
        created_by: { type: string }
        assigned_to: { type: [string, 'null'] }
        priority: { type: string, enum: [low, medium, high, urgent] }
        estimate: { type: [string, 'null'], description: "On the board's estimate_scale. Cleared when the ticket moves to the backlog or to a board with another scale." }
        position: { type: integer }
        blocked: { type: boolean }
        labels: { type: array, items: { type: string }, description: 'Free-form labels, sorted case-insensitively.' }
    Column:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        position: { type: integer }
        wip_limit: { type: [integer, 'null'] }
        tickets:
          type: array
          items: { $ref: '#/components/schemas/Ticket' }
    Velocity:
      type: object
      required: [unit, sprints, current]
      properties:
        unit: { type: string, enum: [points, tickets] }
        sprints:
          type: array
          description: Closed sprints, oldest first.
          items:
            type: object
            properties:
              number: { type: integer }
              starts_at: { type: string, format: date-time }
              closed_at: { type: string, format: date-time }
              completed: { type: number }
        current:
          description: The open sprint, or null. total is the sprint's current scope (scope changes aren't tracked over time).
          type: [object, 'null']
          properties:
            number: { type: integer }
            starts_at: { type: string, format: date-time }
            ends_at: { type: string, format: date-time }
            total: { type: number }
            unestimated: { type: integer, description: Tickets with no estimate on a points board. }
            done:
              type: array
              description: When each done ticket reached Done, oldest first.
              items:
                type: object
                properties:
                  at: { type: string, format: date-time }
                  value: { type: number }
    Sprint:
      type: object
      properties:
        id: { type: string, format: uuid }
        board_id: { type: string, format: uuid }
        number: { type: integer }
        length_days: { type: integer }
        starts_at: { type: string, format: date-time }
        ends_at: { type: string, format: date-time }
        closed_at: { type: [string, 'null'], format: date-time }
    BugfixTicket:
      type: object
      required: [id, board_id, column_id, title, body, priority, created_by, created_at]
      properties:
        id:
          type: string
          format: uuid
        board_id:
          type: string
          format: uuid
        column_id:
          type: string
          format: uuid
        title:
          type: string
        body:
          type: string
        priority:
          type: string
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
    CreateComment:
      type: object
      required: [body]
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 10000
        parent_comment_id:
          type: [string, 'null']
          format: uuid
          description: Omit or set null for a top-level appended update; set to a comment ID to reply in a thread.
    Comment:
      type: object
      required: [id, ticket_id, body, author, created_at]
      properties:
        id:
          type: string
          format: uuid
        ticket_id:
          type: string
          format: uuid
        parent_comment_id:
          type: [string, 'null']
          format: uuid
        body:
          type: string
        author:
          type: string
          description: BugFixes API key name.
        created_at:
          type: string
          format: date-time
    MoveTicket:
      type: object
      required: [column_id]
      properties:
        column_id:
          type: string
          format: uuid
        position:
          type: integer
          default: 0
    TicketDetail:
      type: object
      description: Ticket properties plus board, column, sprint, and completion context.
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string }
        created_by: { type: string }
        assigned_to: { type: [string, 'null'] }
        type: { type: string, enum: [bug, feature, task] }
        priority: { type: string, enum: [low, medium, high, urgent] }
        board_id: { type: [string, 'null'], format: uuid }
        board_name: { type: [string, 'null'] }
        estimate: { type: [string, 'null'] }
        estimate_scale: { $ref: '#/components/schemas/EstimateScale' }
        column_id: { type: [string, 'null'], format: uuid }
        column_name: { type: [string, 'null'] }
        done: { type: boolean }
        blocked_by:
          type: array
          items: { $ref: '#/components/schemas/TicketDependency' }
        blocks:
          type: array
          items: { $ref: '#/components/schemas/TicketDependency' }
        parent_id: { type: [string, 'null'], format: uuid }
        children:
          type: array
          items: { $ref: '#/components/schemas/TicketChild' }
        sprint_id: { type: [string, 'null'], format: uuid }
        position: { type: integer }
        blocked: { type: boolean }
        sprint_number: { type: [integer, 'null'] }
    TicketDependency:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        done: { type: boolean }
    TicketChild:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        done: { type: boolean }
        type: { type: string, enum: [bug, feature, task] }
        assigned_to: { type: [string, 'null'] }
    AttachmentInput:
      type: object
      required: [key, url, name]
      properties:
        key: { type: string }
        url: { type: string, format: uri, description: Must be an https UploadThing URL on utfs.io or a *.ufs.sh host. }
        name: { type: string, minLength: 1 }
        size: { type: integer, minimum: 0 }
        content_type: { type: string }
    Attachment:
      type: object
      properties:
        id: { type: string, format: uuid }
        ticket_id: { type: string, format: uuid }
        key: { type: string }
        url: { type: string, format: uri }
        name: { type: string }
        size: { type: integer }
        content_type: { type: string }
        created_by: { type: string }
        created_at: { type: string, format: date-time }
    RoadmapInput:
      type: object
      required: [title]
      properties:
        title: { type: string, minLength: 1 }
        description: { type: string }
        visibility:
          type: string
          enum: [public, login_only, team]
          default: public
    RoadmapItemInput:
      type: object
      required: [title]
      properties:
        id: { type: string, format: uuid, description: Omit to create a new item. }
        title: { type: string, minLength: 1 }
        description: { type: string }
        start_date: { type: [string, 'null'], format: date, description: Gantt bar start date. }
        target_date: { type: [string, 'null'], format: date }
        manual_status: { type: string, enum: [not_started, in_progress, done] }
    Roadmap:
      type: object
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string }
        visibility: { type: string, enum: [public, login_only, team] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        progress: { $ref: '#/components/schemas/Progress' }
        items:
          type: array
          items: { $ref: '#/components/schemas/RoadmapItem' }
    RoadmapItem:
      allOf:
        - $ref: '#/components/schemas/RoadmapItemInput'
        - type: object
          properties:
            position: { type: integer }
            status: { type: string, enum: [not_started, in_progress, done] }
            progress: { $ref: '#/components/schemas/Progress' }
            tickets:
              type: array
              description: Included for the owner; hidden for other viewers.
              items:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  title: { type: string }
                  done: { type: boolean }
    Progress:
      type: object
      properties:
        done: { type: integer }
        total: { type: integer }
    ApiKey:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        kind: { type: string, enum: [ai, service], description: AI keys can be assigned tickets; service keys are for servers and integrations. }
        prefix: { type: string }
        created_at: { type: string, format: date-time }
        last_used_at: { type: [string, 'null'], format: date-time }
    CreateApiKeyInput:
      type: object
      required: [name, kind]
      properties:
        name: { type: string }
        kind: { type: string, enum: [ai, service] }
    CreatedApiKey:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          required: [key]
          properties:
            key: { type: string, description: Plaintext secret returned only once. }
    URLResponse:
      type: object
      required: [url]
      properties:
        url: { type: string, format: uri }
    Board:
      type: object
      required: [id, project_id, name, columns]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        owner_clerk_id: { type: string }
        name: { type: string }
        description: { type: string }
        estimate_scale: { $ref: '#/components/schemas/EstimateScale' }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        style: { type: string, enum: [sprints, kanban] }
        hidden_done: { type: integer, description: "Kanban only. Done tickets finished more than 14 days ago, left off the board." }
        team_id: { type: [string, 'null'], format: uuid, description: The team whose leaders run this board. }
        sprint: { $ref: '#/components/schemas/Sprint' }
        columns:
          type: array
          items: { $ref: '#/components/schemas/Column' }
    Error:
      type: string
      description: Plain-text error message.
  responses:
    BadRequest:
      description: Invalid request body or field values.
      content:
        text/plain:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Missing, invalid, or revoked API key.
      content:
        text/plain:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found or not owned by this API key.
      content:
        text/plain:
          schema: { $ref: '#/components/schemas/Error' }
    InternalError:
      description: Unexpected server error.
      content:
        text/plain:
          schema: { $ref: '#/components/schemas/Error' }
